<!doctype html>
<html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maxiumum-scale=1.0" />
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/handlebars.js"></script>
    <script src="js/app.js"></script>
    <title>{{track}} urls</title>
  </head>

  <body>

    <header class="row">
      <div class="large-offset-1 large-11 large-centered columns text-center">
        <h1>{{track}} urls</h1>
        <em>as mentioned in twitter</em>
        <hr>
      </div>
    </header>


    <section id="resources">
    </section>

    <script id="resource-template" type="text/x-handlebars-template">
      <article class="resource row">
        <div class="count small-2 large-offset-1 large-1 columns">\{{this.count}}</div>
        <div class="detail small-10 large-8 columns">
          <a class="title" href="\{{url}}">
            \{{#if title}}
              \{{title}}
            \{{else}}
              \{{url}}
            \{{/if}}
          </a>
          <br>
          \{{#each tweets}}
          <a href="\{{this.url}}">
            <img class="avatar" title="\{{this.name}}" src="\{{this.avatar}}">
          </a>
          \{{/each}}
        </div>
      </article>
    </script>
  </body>
</html>
